#tornadoChart {
  height: 500px;
}

.bar--positive {
  fill: #9BCCF5;
}

.bar--negative {
  fill: pink;
}

.tick text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  fill: #666;
}

/* 
.axis .tick line{
  visibility:hidden;
} */

.grid path {
  visibility: hidden;
}

.grid .tick line {
  /* stroke-dasharray: "5, 5"; */
  stroke: darkgrey;
  stroke-width: 0.5px;
}